*

!.config/

!docs/
!docs/README.md
!docs/LICENSE

!.config/nixos/
!.config/nixos/*
!.config/nixos/users/
!.config/nixos/users/*
.config/nixos/hardware-configuration.nix

!.config/alacritty/
!.config/alacritty/alacritty.yml
!.config/alacritty/colors/
!.config/alacritty/colors/electro-swing.yml

!.config/starship.toml

!.config/ffmpegthumbsrc

!.config/mpv/
!.config/mpv/mpv.conf
