*
!README.md
!.config/
!.config/nixos/
!.config/nixos/*
.config/nixos/hardware-configuration.nix
!.config/alacritty/
!.config/alacritty/alacritty.yml
!.config/alacritty/colors/
!.config/alacritty/colors/electro-swing.yml
!LICENSE
